<footer class="text-lg-start">
    <div class="bottom-footer p-1 d-flex justify-content-center align-items-center text-white">
      <div class="content-container">
        <p class="m-0">
          <a class="text-white"
             href="http://www.dspace.org/">Sistema DSpace 7 - </a>
          <a class="text-white"
             href="https://www.metabiblioteca.com/">Metabiblioteca <img class="custom-logo" src="assets/images/logo-metabiblioteca.png" alt="logo"></a>
        </p>
      </div>
    </div>
</footer>
  