<div class="container mt-4 d-flex flex-wrap align-items-center">
    <div class="element">
        <a class="btn publication" href="/" style="background-color: #bfe3f8; color: #34a9e5;">
            <div class="d-flex">
                <p class="icon"><i class="fa-file-signature fas"></i></p>
                <div class="text-content">
                    <p class="font-weight-bold"> Publicaciones </p>
                    <p class="number font-weight-bold"><span>0</span></p>
                </div>
            </div>
        </a>
    </div>
    <div class="element">
        <a class="btn publication" href="/" style="background-color: #ffebca; color: #f6b232;">
            <div class="d-flex">
                <p class="icon"><i class="fa-graduation-cap fas"></i></p>
                <div class="text-content">
                    <p class="font-weight-bold"> Organizaciones </p>
                    <p class="number font-weight-bold"><span>0</span></p>
                </div>
            </div>
        </a>
    </div>
    <div class="element">
        <a class="btn publication" href="/" style="background-color: #c9f6d7; color: #43df74;">
            <div class="d-flex">
                <p class="icon"><i class="fa-user-check fas"></i></p>
                <div class="text-content">
                    <p class="font-weight-bold"> Personas </p>
                    <p class="number font-weight-bold"><span>0</span></p>
                </div>
            </div>
        </a>
    </div>
    <div class="element">
        <a class="btn publication" href="/" style="background-color: #c5b0ff; color: #5516fa;">
            <div class="d-flex">
                <p class="icon"><i class="fa-lightbulb fas"></i></p>
                <div class="text-content">
                    <p class="font-weight-bold"> Proyectos </p>
                    <p class="number font-weight-bold"><span>0</span></p>
                </div>
            </div>
        </a>
    </div>
</div>
