<div class="communities pt-4 px-4">
    <div class="text-center" style="color: #fff">
        <h2>Comunidades</h2>
    </div>
    <div class="row mt-4 justify-content-center align-items-center">
        <div class="col-lg-3 col-md-4 col-sm-6 col-6 text-center mb-3">
            <button class="btn btn-block font-weight-bold" routerLink="/communities/7a4c2a9f-1c76-4c9e-839e-3fd9491cef1b">Comunidad 1</button>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-6 text-center mb-3">
            <button class="btn btn-block font-weight-bold" routerLink="/communities/a452ade3-f295-4e29-b408-205381253591">Comunidad 2</button>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-6 text-center mb-3">
            <button class="btn btn-block font-weight-bold" routerLink="/communities/9630c254-ba91-47bf-b2c8-e7f85b6c20e2">Comunidad 3</button>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-6 text-center mb-3">
            <button class="btn btn-block font-weight-bold" routerLink="/communities/8b2e4de5-18e5-4cef-a1be-f7832be8be7e">Comunidad 4</button>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-6 text-center mb-3">
            <button class="btn btn-block font-weight-bold" routerLink="/communities/f51db38c-c4f2-4ba5-937f-ba68d5a7cf88">Comunidad 5</button>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-6 text-center mb-3">
            <button class="btn btn-block font-weight-bold" routerLink="/communities/2861d303-5fca-4bdf-93fd-c3813a5bc694">Comunidad 6</button>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-6 text-center mb-3">
            <button class="btn btn-block font-weight-bold" routerLink="/communities/9e000881-e5f2-460a-a3c6-d12b6c75ce53">Comunidad 7</button>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-6 text-center mb-3">
            <button class="btn btn-block font-weight-bold" routerLink="/communities/47fd3e05-eb97-4076-9d3a-37997ea2eac3">Comunidad 8</button>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-6 text-center mb-3">
            <button class="btn btn-block font-weight-bold" routerLink="/communities/5740f5e2-11cc-4d4b-abe9-2c8c561389f7">Comunidad 9</button>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-6 text-center mb-3">
            <button class="btn btn-block font-weight-bold" routerLink="/communities/0bec84e2-6f0d-4f56-9e5c-02d33ddb65a4">Comunidad 10</button>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-6 text-center mb-3">
            <button class="btn btn-block font-weight-bold" routerLink="/communities/20209cc2-9b4e-451e-8300-ff713122a89b">Comunidad 11</button>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-6 text-center mb-3">
            <button class="btn btn-block font-weight-bold" routerLink="/communities/e60ae395-c7e9-48e5-90ef-28e9f0e92f23">Comunidad 12</button>
        </div>
    </div>
</div>